<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
  bootstrap="tests/bootstrap.php"
  colors="true"
  cacheDirectory=".phpunit.cache"
>
  <testsuites>
    <testsuite name="Unit">
      <directory>tests</directory>
      <exclude>tests/Integration</exclude>
    </testsuite>
    <testsuite name="Integration">
      <directory></directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">app</directory>
    </include>
  </source>

  <php>
    <env name="APP_ENV" value="test"/>
    <env name="DB_DSN" value="sqlite::memory:"/>
    <env name="DB_USER" value=""/>
    <env name="DB_PASS" value=""/>
    <env name="XDEBUG_MODE" value="coverage"/>
  </php>
</phpunit>
