// On met à jour les variables Bootstrap ici afin de permettre de la réutilisation rapide
$primary: #0074c7;
$secondary: #00497c;
$info: #384050;
$success: #82b864;
$danger: #cd2c2e;
$light: #f1f8fc;